@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
  font-family: 'F1';
  src: url('/fonts/F1Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F1';
  src: url('/fonts/F1Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'F1';
  src: url('/fonts/F1Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'F1';
  src: url('/fonts/F1RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'F1Wide';
  src: url('/fonts/F1Wide.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F1Year';
  src: url('/fonts/F1YEAR.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'F1';
  margin: 0;
  font-weight: normal;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: bold;
}

h3 {
  font-style: italic;
}

header {
    background-color: #e10600;
    color: #fff;

    height: 64px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: inherit
}

main {
    margin: 16px auto;
    padding: 0 24px;
    max-width: 1200px;
}

/* @media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
} */

.header-link {
    font-family: 'F1';
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    transition: all 0.2s ease-in-out;
    min-height: 100%;
  }

.f1year {
  font-family: 'F1Year';
  font-size: larger;
}

.f1wide {
  font-family: 'F1Wide';
}


.MuiTableCell-root {
  font-family: "F1" !important;
}

.MuiTableCell-root a:hover {
  text-decoration: underline !important;
}

.MuiTableCell-head {
  font-weight: 900 !important;
}

.MuiButtonBase-root {
  font-family: "Titillium Web" !important;
}